@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  background-color: #eee;
}

:root {
  --input-background-color: #F1F5F9F1;
  --input-background-error-color: #FEE2E2;
  --border-color: #E2E8F0;
  --btn-color: #fff;
  --text-error-color: #EF4444;
  --link-color: #0284C7;
  --outline-color: #7DD3FC;
  --outline-error-color: #EF4444;
  --selection-color: #BAE6FD;
  --btn-primary-default-bg-color: #0284C7;
  --btn-primary-hover-bg-color: #0369A1;
  --btn-secondary-default-bg-color: #F1F5F9;
  --btn-secondary-hover-bg-color: #CBD5E1;
  --btn-destructive-default-bg-color: #EF4444;
  --btn-destructive-hover-bg-color: #B91C1C;
}

input,
select,
textarea {
  background-color: var(--input-background-color);
  color: var(--text-color);
  outline-color: var(--outline-color);
}


::selection {
  background-color: var(--selection-color);
}

a {
  color: var(--link-color);
  font-weight: 500;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

hr {
  border-color: var(--border-color);
}

.loader {
  width: 8px;
  height: 8px;
  position: relative;
  border-radius: 50%;
  animation: wave 1s ease-in infinite;
}

@keyframes wave {
 0% {  box-shadow:
  0 0 0 0px rgba(2, 132, 199, 1),
  0 0 0 20px rgba(2, 132, 199, 0.2),
  0 0 0 40px rgba(2, 132, 199, 0.6),
  0 0 0 60px rgba(2, 132, 199, 0.4),
  0 0 0 80px rgba(2, 132, 199, 0.2)
  }
  100% {  box-shadow:
    0 0 0 80px rgba(2, 132, 199, 0),
    0 0 0 60px rgba(2, 132, 199, 0.2),
    0 0 0 40px rgba(2, 132, 199, 0.4),
    0 0 0 20px rgba(2, 132, 199, 0.6),
    0 0 0 0px rgba(2, 132, 199, 1)
  }
}

.banner-shadow::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(transparent, rgba(0,0,0,0.3));
  z-index: 5;
}